<%- include('partials/header', { otsikko: 'generaatio'}) %>
<body>
    <% if (pokemonList && pokemonList.length) { %>
        <div class="pokemon-list">
            <% pokemonList.forEach(pokemon => { %>
                <div>
                    <a href="<%= pokemon.url %>"><%= pokemon.name %></a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>Ei Pokemoneja tässä generaatiosta.</p>
    <% } %>

    <a href="/" class="back-button">Takaisin Pokedexiin</a>
<%- include('partials/footer') %>

