<%- include('partials/header', { otsikko: 'Etusivu'}) %>
<body>
    

    <div class="generations">
        <% generations.forEach((gen) => { %>
            <div class="generation-box">
                <a href="/generation/<%= gen.number %>"><%= gen.roman %></a>
            </div>
        <% }); %>
    </div>

<%- include('partials/footer') %>

